@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/breakpoints';

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	clear: both;
}

.introImg {
	float: left;
	margin: 15px;
	width: 450px;
}

@media (max-width: 575.98px) {
	.introImg {
		width: 100%;
	}
}

.font-dark {
	h2, h3, p, ul, li{
		color: #333;
	}

	.icon.major {
		background: #555;
	}
}

.features {
	section:last-child {
		width: 100%;
	}
}

#thanks {
	border: solid 2px darkgreen;
	background: green;
	padding: 1rem;
	text-align: center;
	color: white;
}

#main {
	ul {
		line-height: 5;
		font-weight: bold;
	}
}

@media (max-width: 575.98px) {
	#main {
		ul {
			line-height: 2;
		}
	}
}